@import "../constants";

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  left: -$sidebar-width;
  width: $sidebar-width;
  overflow-y: auto;
  background: $light-bg-color;
  border: 0;
  min-height: 100vh;
  will-change: left;
  transition: $linear;
  &.open {
    left: 0
  }
}
